Repository Proctux/react-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext js --ext jsx --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{jsx,js}": [
    "eslint --ext js --ext jsx --fix"
  ],
  "src/**/*.css":[
    "stylelint --fix"
  ]
}

refactor: Add eslint autofix on lint-staged config
  .lintstagedrc.json
Due: none

chore: Update pull_request_template.md
  .github/pull_request_template.md
Due: none

refactor: Setup.js in order to use regex instead of merges
  setup.js
Due: eslint --ext js --ext jsx --fix

build: Add release workflow
  .github/workflows/release.yml
Due: none

feat: Add useOnSuccess hook
  src/hooks/use-on-success.js
Due: eslint --ext js --ext jsx --fix

refactor: Remove git branches on setup file
  setup.js
Due: eslint --ext js --ext jsx --fix

feat: Add snippets for material ui
  .vscode/jungledevs.code-snippets
Due: none

refactor: Support scss
  .lintstagedrc.json
Due: none

feat: Add remote git question to setup.js
  setup.js
Due: eslint --ext js --ext jsx --fix

feat: Add loading indicator to setup.js
  setup.js
Due: eslint --ext js --ext jsx --fix

fix: Add reset css and remove ignore camelize model
  src/models/model.js
  src/modules/car/reducer.js
  src/styles/reset.css
  yarn.lock
Due: eslint --ext js --ext jsx --fix, stylelint --fix

fix: Remove car reducer change
  src/modules/car/reducer.js
Due: eslint --ext js --ext jsx --fix

fix: Remove state merge in car reducer
  src/modules/car/reducer.js
Due: eslint --ext js --ext jsx --fix

feat: Add flag to transform payload to FormData
  src/services/requests.js
Due: eslint --ext js --ext jsx --fix

refactor: Change param name in createFormData function
  src/utils/helpers.js
Due: eslint --ext js --ext jsx --fix

refactor: Change transformFormData logic
  src/services/requests.js
Due: eslint --ext js --ext jsx --fix

docs: Update readme
  README.md
Due: none

chore: add i18n dependencies
  package.json
Due: none

feat: use i18n on both views of the project
  src/views/app/index.jsx
  src/views/not-found/index.jsx
  yarn.lock
Due: eslint --ext js --ext jsx --fix

feature: configure i18n to use anywhere
  src/i18n/index.js
  src/i18n/resources/en.json
  src/index.jsx
Due: eslint --ext js --ext jsx --fix

chore: Update i18n implementation to match new setup pattern
  src/i18n/index.js
  src/index.jsx
  src/views/app/index.jsx
  src/views/not-found/index.jsx
Due: eslint --ext js --ext jsx --fix

feat: Update setup.js to support i18n
  package.json
  setup.js
  yarn.lock
Due: eslint --ext js --ext jsx --fix

feat: Drop react-scripts dependency
  .eslintrc.js
  .huskyrc.json
  .nvmrc
  .prettierrc.json
  README.md
  config/customAliases.js
  config/env.js
  config/getHttpsConfig.js
  config/jest/cssTransform.js
  config/jest/fileTransform.js
  config/modules.js
  config/paths.js
  config/pnpTs.js
  config/webpack.config.eslint.js
  config/webpack.config.js
  config/webpack.config.resolve.js
  config/webpackDevServer.config.js
  jest.config.js
  package.json
  postcss.config.js
  public/favicon.ico
  public/index.html
  scripts/build.js
  scripts/customized-config.js
  scripts/start.js
  scripts/test.js
  setup.js
  src/index.jsx
  src/store/configure-store.js
  webpack/_resolve.js
  webpack/config-overrides.dev.js
  webpack/config-overrides.prod.js
  yarn.lock
Due: eslint --ext js --ext jsx --fix

build: Update node version on CI
  .circleci/config.yml
Due: none

chore: Update gitignore with terraform folder
  .gitignore
Due: none

fix: Terraform origin access to the bucket
  terraform/CloudFront/cloudfront.tf
Due: none

feat: Add initial terraform configuration
  terraform/CloudFront/cloudfront.tf
  terraform/CloudFront/variables.tf
  terraform/S3/output.tf
  terraform/S3/s3.tf
  terraform/S3/variables.tf
  terraform/locals.tf
  terraform/main.tf
Due: none

feat: Add terraform workspaces
  terraform/S3/s3.tf
  terraform/locals.tf
  terraform/main.tf
Due: none

feat: Add certificate and alias fields to terraform
  terraform/CloudFront/cloudfront.tf
  terraform/CloudFront/variables.tf
  terraform/locals.tf
  terraform/main.tf
Due: none

feat: Add remote terraform state
  terraform/init.sh
  terraform/state.tf
  terraform/terraform.sh
Due: none

feat: Add terraform apply bash script
  terraform/apply.sh
Due: none

feat: Add terraform setup file
  terraform/init.sh
  terraform/terraform.sh
  terraform/terraformSetup.sh
Due: none

docs: Update README with terraform info
  README.md
Due: none

feat: Add onReject to useFetchCall
  .prettierrc.json
  src/hooks/use-fetch-call.js
Due: eslint --ext js --ext jsx --fix

fix: Fix not transforming nested objects to immutable
  src/models/model.js
Due: eslint --ext js --ext jsx --fix

ci: Remove multiple jobs
  .circleci/config.yml
Due: none

fix: Eslint format error
  src/services/requests.js
Due: eslint --ext js --ext jsx --fix

feat: Update setup script in order to avoid .git folder deletion
  setup.js
Due: eslint --ext js --ext jsx --fix

build: Update axios to version 0.21.1
  package.json
  yarn.lock
Due: none

feat: Update packages and fix eslint
  .eslintrc.js
  package.json
  yarn.lock
Due: eslint --ext js --ext jsx --fix
