Repository Proctux/react-redux: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext js --ext jsx --fix, stylelint --fix

feat: Add eslint as plugin and remove loader
  config/webpack.config.js
  package.json
  yarn.lock
Due: eslint --ext js --ext jsx --fix

feat: Switch dependencies to devDependencies
  babel.config.js
  package.json
  yarn.lock
Due: eslint --ext js --ext jsx --fix

feat: Add lint staged
  .huskyrc.json
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

feat: Add pipeline operator polyfill
  babel.config.js
  package.json
  yarn.lock
Due: eslint --ext js --ext jsx --fix

feat: Re-add setup.js
  package.json
  setup.js
  yarn.lock
Due: eslint --ext js --ext jsx --fix

feat: Add material UI to setup.js
  package.json
  setup.js
  src/index.jsx
  src/utils/material-ui.js
  yarn.lock
Due: eslint --ext js --ext jsx --fix

feat: Add internalization with i18n
  package.json
  src/i18n/index.js
  src/i18n/resources/en.json
  src/index.jsx
  src/views/app/index.jsx
  src/views/not-found/index.jsx
  yarn.lock
Due: eslint --ext js --ext jsx --fix

fix: Fix ie11 breaking because of promise
  config/webpack.config.js
  package.json
  src/index.jsx
  yarn.lock
Due: eslint --ext js --ext jsx --fix

fix: Fix circle ci config code
  .circleci/config.yml
  package.json
Due: none

feat: Add missing features in requests, helpers and gitignore
  .gitignore
  README.md
  src/models/model.js
  src/services/requests.js
  src/utils/helpers.js
Due: eslint --ext js --ext jsx --fix

feat: Add terraform
  terraform/CloudFront/cloudfront.tf
  terraform/CloudFront/variables.tf
  terraform/S3/output.tf
  terraform/S3/s3.tf
  terraform/S3/variables.tf
  terraform/apply.sh
  terraform/locals.tf
  terraform/main.tf
  terraform/state.tf
  terraform/terraformSetup.sh
Due: none

feat: Add missing features
  .circleci/config.yml
  .github/workflows/release.yml
  src/hooks/use-fetch-call.js
Due: eslint --ext js --ext jsx --fix

fix: Remove github workflow
  .github/workflows/release.yml
Due: none

build: Add release workflow
  .github/workflows/release.yml
Due: none

fix: Fix circleci node version
  .circleci/config.yml
Due: none

fix: Fix prettier not auto formatting
  .eslintrc.js
Due: eslint --ext js --ext jsx --fix

fix: Fix linter issue
  src/views/app/index.jsx
  tests/setup.js
Due: eslint --ext js --ext jsx --fix

feat: Add postcss config file
  config/webpack.config.js
  postcss.config.js
Due: eslint --ext js --ext jsx --fix

feat: Explicitly enable url processor
  config/webpack.config.js
Due: eslint --ext js --ext jsx --fix

ci: Update ci file related to pyton
  .circleci/config.yml
Due: none

feat: Add '_' alias
  config/customAliases.js
  jsconfig.json
Due: eslint --ext js --ext jsx --fix

feat: Add terraform comments
  terraform/CloudFront/cloudfront.tf
  terraform/CloudFront/variables.tf
  terraform/S3/output.tf
  terraform/S3/s3.tf
  terraform/S3/variables.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/state.tf
Due: none

fix: Update comments
  terraform/CloudFront/cloudfront.tf
  terraform/main.tf
Due: none

feat: Add comments to terraform files
  terraform/CloudFront/cloudfront.tf
  terraform/CloudFront/variables.tf
  terraform/S3/output.tf
  terraform/S3/s3.tf
  terraform/S3/variables.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/state.tf
Due: none

feat: Update eslintFormatter rules on the webpack file
  config/webpack.config.js
  public/index.html
  yarn.lock
Due: eslint --ext js --ext jsx --fix

build: Initial setup
  public/index.html
  src/index.jsx
  src/views/app/index.jsx
Due: eslint --ext js --ext jsx --fix

build: Finish initial setup
  src/views/not-found/index.jsx
Due: eslint --ext js --ext jsx --fix

chore: Remove empty style class from login
  db.json
  package.json
  routes.json
  src/assets/icons/jungle-devs-logo.svg
  src/assets/icons/password-hide.svg
  src/assets/icons/password-show.svg
  src/assets/images/jungle.png
  src/components/button/index.js
  src/components/button/styles.css
  src/components/input/index.js
  src/components/input/styles.css
  src/config/environment.js
  src/index.jsx
  src/models/authentication.js
  src/models/index.js
  src/models/user.js
  src/modules/authentication/actions.js
  src/modules/authentication/reducer.js
  src/modules/authentication/selectors.js
  src/modules/reducers.js
  src/modules/user/actions.js
  src/modules/user/reducer.js
  src/modules/user/selectors.js
  src/router.jsx
  src/services/authentication.js
  src/services/users.js
  src/styles/settings.css
  src/utils/helpers.js
  src/views/app/index.jsx
  src/views/app/styles.css
  src/views/login/index.js
  src/views/login/styles.css
  src/views/login/validation.js
  yarn.lock
Due: eslint --ext js --ext jsx --fix, stylelint --fix

chore: Remove breaking tests
  src/views/app/app.test.jsx
Due: eslint --ext js --ext jsx --fix

feat: Remove breaking tests
  scripts/test.js
Due: eslint --ext js --ext jsx --fix

feat: Add dashboard view
  package.json
  public/index.html
  src/assets/icons/jungle-devs-logo.svg
  src/assets/icons/user-picture-placeholder.svg
  src/assets/images/bmw328i.jpg
  src/components/button/index.js
  src/components/button/styles.css
  src/components/change-name-box/index.js
  src/components/change-name-box/styles.css
  src/components/header/index.js
  src/components/header/styles.css
  src/components/input/styles.css
  src/models/car.js
  src/models/index.js
  src/modules/car/actions.js
  src/modules/car/reducer.js
  src/modules/reducers.js
  src/router.jsx
  src/styles/_colors.css
  src/styles/settings.css
  src/utils/dashboard.js
  src/views/app/index.jsx
  src/views/dasboard/index.js
  src/views/dasboard/styles.css
  src/views/login/index.js
  yarn.lock
Due: eslint --ext js --ext jsx --fix, stylelint --fix

feat: Get user and change user info integration
  db.json
  src/components/change-name-box/index.js
  src/components/change-name-box/styles.css
  src/components/header/index.js
  src/index.jsx
  src/modules/authentication/actions.js
  src/modules/authentication/reducer.js
  src/modules/user/actions.js
  src/modules/user/reducer.js
  src/services/users.js
  src/utils/dashboard.js
  src/views/dasboard/index.js
  src/views/dasboard/styles.css
  src/views/login/index.js
Due: eslint --ext js --ext jsx --fix, stylelint --fix

feat: Add redux integration, validation, errors and loading statments
  src/components/input/styles.css
  src/components/spinner/index.js
  src/components/spinner/styles.css
  src/models/authentication.js
  src/modules/authentication/selectors.js
  src/views/app/index.jsx
  src/views/dasboard/index.js
  src/views/dasboard/styles.css
  src/views/login/index.js
Due: eslint --ext js --ext jsx --fix, stylelint --fix

Path conditions:
  eslint --ext js --ext jsx --fix: any of: *.{jsx,js}
  stylelint --fix: any of: src/**/*.css
